# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Env files
.env
.venv/
env/
venv/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# VSCode settings (optional)
.vscode/

# OS-specific files
.DS_Store
Thumbs.db